.button {
  position: relative;
  &::after,
  &::before {
    content: "";
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: #111010;
    transition: all 0.5s;
    opacity: 0.7;
  }
  &::before {
    top: -25px;
    left: -25px;
  }
  &::after {
    bottom: -25px;
    right: -25px;
  }
  &:hover::before {
    top: -100px;
    left: -100px;
  }
  &:hover::after {
    bottom: -100px;
    right: -100px;
  }
}
