.hover__effect {
    position: relative;
    &:after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 50%;
      background: linear-gradient(to top, black, transparent);
      transform: translateY(100%);
    }
    &:hover::after {
      transform: translateY(0%);
      transition: all 0.5s;
    }
  }