.inputfileBbox {
  position: relative;
  width: 100%;
  background: rgba(217, 217, 217, 0.13);
  opacity: 0.5;
  text-transform: capitalize;
  // border-radius: 10px;
  padding: 8px;
  .inputfile {
    display: none;
  }
  .fileBox {
    display: inline-block;
    width: 100%;
    padding: 5px 0px 5px 5px;
    box-sizing: border-box;
    height: calc(2rem - 2px);
  }

  .fileButton {
    padding: 5px;
    position: absolute;
    bottom: 12px;
    right: 10px;
    cursor: pointer;
  }
}
