@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
    --mainColor: #af6f57;
}

@layer utilities {
    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }

    /* Hide scrollbar for IE, Edge and Firefox */
    .no-scrollbar {
        -ms-overflow-style: none;
        /* IE and Edge */
        scrollbar-width: none;
        /* Firefox */
    }
    .overlay {
        @apply absolute inset-0 bg-black opacity-[70%];
    }
    .center {
        @apply absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2;
    }
    .border_padding {
        @apply p-4 lg:p-8;
    }
    .gradient_text {
        @apply bg-gradient-to-b from-white from-10% via-[#F5E3DAE5] via-50% to-[#A96D57E5] to-60% text-transparent bg-clip-text;
    }
}

body {
    overflow-x: hidden;
}
/* .circle-cursor {
  cursor: url("../public/cursor.png") 10 10, auto;
} */
.blog_aside {
    -ms-overflow-style: none !important;
    scrollbar-width: none !important;
}
.blog_aside::-webkit-scrollbar {
    display: none;
}
.slick-slide {
    padding: 0 16px;
}

.css-13cymwt-control,
.css-t3ipsp-control,
.css-13cymwt-control:focus {
    background-color: transparent !important;
    color: #676666;
    padding: 10px !important;
}
.css-1u9des2-indicatorSeparator {
    display: none;
}
.css-b62m3t-container {
    width: 100%;
    height: 100%;
    font-size: 14px;
    margin: 8px 0px 0px;
}
.css-b62m3t-container > div {
    height: 100% !important;
    background-color: transparent !important;
    border: 1px solid rgba(217, 217, 217, 0.2);
    font-weight: 600;
    padding: 0px;
    border-radius: 0px !important;
}
.css-1jqq78o-placeholder {
    color: #676666 !important;
    font-weight: normal;
}
.css-13cymwt-control {
    border: transparent;
    font-weight: normal;
}
.css-1nmdiq5-menu {
    border: #222222 1px solid;
    padding: 0px !important;
    font-weight: normal;
}
.css-1nmdiq5-menu * {
    background: #171717 !important;
    padding: 10px !important;
    font-weight: normal;
    border-radius: 0px !important;
}
.css-1nmdiq5-menu *:hover {
    background: #111010 !important;
}
.css-b62m3t-container *:focus {
    outline: none;
}

th,
td {
    padding: 32px;
    text-transform: uppercase;
}
.high-light:last-child {
    border: none;
}
#RFS-ConnectorContainer {
    top: calc(25px) !important;
    left: -105px !important;
    position: absolute;
    width: 225px !important;
    z-index: -100;
}
#RFS-StepButton.completed {
    background-color: #af6f57 !important;
}
#RFS-StepButton:not(.completed) {
    background-color: #171717 !important;
    border: 1px solid #888;
    border-radius: 50%;
    padding: 3px;
}
.statistics-card:nth-child(2) {
    margin-top: auto;
}
@media screen and (max-width: 599px) {
    .css-b62m3t-container {
        font-size: 12px;
    }
    .css-b62m3t-container > div {
        font-weight: normal;
        padding: 1px;
    }
    .statistics-card:nth-child(2) {
        margin-top: auto;
    }
    @media screen and (max-width: 599px) {
        .css-b62m3t-container > div {
            padding: 1px;
        }
        ::-webkit-scrollbar {
            width: 0px;
        }
    }
    ::-webkit-scrollbar {
        width: 10px;
    }
}
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: #888;
}
::-webkit-scrollbar-track {
    background-color: #222222;
}
input[type="radio"] {
    height: 1.2rem;
    width: 1.2rem;
    margin-right: 0.5rem;
}

#accent {
    accent-color: var(--mainColor);
}

.custom-radio:focus-visible {
    outline-offset: 0;
}

/* quiz start */
.quiz_form::after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--mainColor);
    z-index: -10;
}
/* quiz end */
/* swiper start */
.swiper {
    padding: 40px 0 !important;
}
 
.lucide-arrow-left:hover .swiper-wrapper {
    transform: translate3d(0px, 0px, 0px) !important;
}
.lucide-arrow-right:hover .swiper-wrapper {
    transform: translate3d(0px, 0px, 0px) !important;
}
.agent-swiper {
    overflow: visible !important;
}
/* .agent-swiper:hover .swiper-wrapper {
  transform: translate3d(0px, 0px, 0px) !important;
} */

/* swiper end */
/* modal start */
@media only screen and (max-width: 600px) {
    div[role="dialog"] {
        min-height: 95vh;
        max-width: 95vw;
    }
}
/* modal end */
/* scroll bar start */
@media only screen and (max-width: 800px) {
    th,
    td {
        font-size: 7px;
        padding: 8px;
        text-transform: uppercase;
    }
    .statistics-card:nth-child(2) {
        margin-left: auto;
    }
    ::-webkit-scrollbar {
        width: 0px;
        height: 0px;
    }
    ::-webkit-scrollbar-thumb {
        background-color: #888;
    }
    ::-webkit-scrollbar-track {
        background-color: #222222;
    }
}
/* scroll bar end */
::-webkit-scrollbar-track {
    background-color: #222222;
}

.fade_out {
    animation: fade_out 1s alternate ease-in-out;
}
@keyframes fade_out {
    0% {
        visibility: "hidden";
        opacity: 0;
        /* scale: .5;
    transform: translateY(-100px); */
    }
    100% {
        visibility: "visible";
        opacity: 1;
    }
}
.hide_scroll::-webkit-scrollbar {
    display: none;
}
.city_image_scale {
    transform: scale(0.6);
    transition: transform 0.5s ease-in-out;
}

.css-1dimb5e-singleValue {
    color: #fcd1ba !important;
}
